.panel-header {
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
}

.panel-header {
  background: #1e5799;
  background: -webkit-gradient(linear, left top, right top, from(#1e5799), color-stop(0%, #2989d8), color-stop(0%, #3899e2), color-stop(32%, #2072c9));
  background: linear-gradient(to right, #1e5799 0%, #2989d8 0%, #3899e2 0%, #2072c9 32%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2072c9',GradientType=1 );
}

.panel-header img:last-child {
  width: 25px;
  margin-right: 100px;
}

img#app-logo {
  width: 250px;
  margin-left: 10px;
}

.panel-header h1 {
  font-variant: small-caps;
  font-size: 2.5rem;
  font-family: serif;
  letter-spacing: 1px;
  margin-right: 40%;
  font-family: 'Lato', sans-serif;
  color: #444444;
}

.main-container {
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/*Left Panel */

.left-panel-section {
  height: 80vh;
  width: 15vw;
  background-color: #222430;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-panel-element {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lato', sans-serif;
  color: #cdcdcd;
}

.left-panel-element.active {
  border-left: 10px solid  #0bb6ed;
  background-color: #121519;
}

.left-panel-element img {
  width: 60px;
  padding-bottom: 5px;
}

#logout-container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logout-container button {
  background-color: transparent;
  width: 170px;
  height: 47px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-variant: all-small-caps;
  font-size: 1.5rem;
}

/*Left Panel */

/*Right Panel */

.right-panel-section {
  width: 85vw;
  height: 80vh;
  overflow-y: scroll;
}

/*Right Panel */

